<p>Vitajte na portáli <b>www.LetnaLiga.sk. </b>!<br> <br>
<b>Letná liga</b> je zložená <b>z piatich turnajov</b> v športoch ako <b>beh, plážový volejbal, streetbal, minifutbal, pétanque</b>.<br /><br /> <b>Letná Liga</b> je tu <b>pre ľudí</b>, ktorý sa chcú <b>zabaviť</b>, stretnúť nových ľudí a parádne si <b>zašportovať</b>. Súťažiť môžete v každom športe zvlášť alebo sa zapojiť do celkovej súťaže o výhercu/výherkyňu Letnej Ligy (minimálne zapojenie do troch športov). Viac nájdeš v <%= link_to "pravidlách", rules_path("base") %>.<br /><br /> <%= link_to "Zaregistruj sa", new_user_path %>, vytvor si tím, pozvi priateľov! <br /><br /><b>Začíname Runningom v sobotu 18. 6. 2011!</b>

<%= link_to (image_tag("poster2.jpg", :alt => "LetnaLiga Poster", :class=>"poster_img")), poster_path %>
<!--<form method="post" action="/session">
  <table cellspacing="0">
    <tbody>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" name="login" id="login">
        </td>
      </tr>
      <tr>
        <td>Heslo:</td>
        <td>
          <input type="password" name="password" id="password">
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
        <input type="submit" value="Vstúpiť" name="commit">
        </td>
      </tr>
    </tbody>
  </table>
</form> --> 
