<form method="post" id="new_event" class="new_event" action="/events">
  <p>
    <label for="event_name">Name</label><br>
    <input type="text" size="30" name="event[name]" id="event_name">
  </p>
  <p>
    <label for="event_start_at">Zaciatok</label><br>
    <input type="text" size="30" name="event[start_at]" id="event_start_at">
  </p>
  <p>
    <label for="event_end_at">Koniec</label><br>
    <input type="text" size="30" name="event[end_at]" id="event_end_at">
  </p>
  <p>
    <input type="submit" value="Create" name="commit" id="team_submit">
  </p>
</form>
