<p>
Vitaj <%= @user.name  %>, ďakujeme za registráciu na www.LetnaLiga.sk. 
<br />Ak chceš potvrdiť registáciu, tak klikni na: <%= "www.letnaliga.sk/jo/#{@user.register_link}" %>
</p>
<p>
Tvoje prihlasovacie údaje su nasldovné:<br />
<strong>Prihlasovacie meno:</strong> <%= @user.email %>
</p>
<p>
Štartovné je potrebné uhradiť na účet 2920857372 / 1100 s variabilným symbolom <%= @user.vs%> a do poznámky napíš svoj email, ktorým si sa registroval.<br />
Ak chcete zaplatiť hromadne (napr. celý tím, kontaktujte nás na adrese registracie@letnaliga.sk) a do mailu napíšte zoznam ľudí (ich mailové adresy), pre ktorých je hromadná platba určená.<br />
Ak chcete zaplatiť v hotovosti, tak píšte na tina@letnaliga.sk, alebo volajte na: 0907 100 319
</p>
<p>
S pozdravom, <br />
LetnaLiga.sk.<br />
info@letnaliga.sk<br />
</p>
<p>
------------------<br />
Na tento email prosím neodpovedaj. V prípade otázok napíš na info@letnaliga.sk
</p>
