@media screen, print {
  body {background: #C4D2BC  url(/images/bodybg.jpg) repeat-x 0; color: #333; font-size: 72%; font-weight: normal; line-height: 1.4em; font-family: "Arial", "Gadget CE", sans-serif; margin: 0; padding: 0;}
    #body_bg {background: #fff url(/images/bg.jpg) no-repeat 50% 0;}
#flash {width: 100%; z-index: 10}
#flash .notice, #flash .error {padding: 0.2em 2em 0.2em 20.3em}

  a {color: #99CC00; text-decoration: underline;}
  a img {border: 1px solid #99CC00;} 
  a:hover {text-decoration: none;}
  #right a {color: #536f00;}
  #right a img {border: 1px solid #536f00;}
  a.noborder img {border: none;}  
  a.nodecoration {text-decoration: none;}
  a.nodecoration:hover {text-decoration: underline;}
  .clear {clear: both;}

  h1, h2, h3, h4, h5, h6 {color: #000; margin: 1em 0 0.5em; padding: 0; line-height: 1.4em; font-weight: bold;}
  h1 {font-size: 150%; text-transform: uppercase;}
  h2 {font-size: 140%; font-weight: normal;}
  h3 {font-size: 120%}
  h4 {font-size: 120%; font-weight: normal;}
  h5 {font-size: 110%; color: #454545;}
  h6 {font-size: 110%;color: #454545; font-weight: normal;}
  
 .heading {display: block; font-size: 175%; font-variant: small-caps; margin: 1em 0 0.5em; padding-right: 30px;}
 #left .heading, #right .heading {color: #FFFFCC;}
 .plus {background: transparent url(/images/plus.png) no-repeat 100% 50%; line-height: 22px; min-height: 33px; _height: 33px; font-weight: bold;}
  
  /* Tables */
  table.blackborder {background-color: #666;}
  table.blackborder tbody {background-color: #fff;}
  table.blackborder th, tr.header, td.header {background-color: #333; color: #FFFFFF; font-weight: bold;}
  tr.alt {background-color: #F0F0F0;}
  #left table.blackborder, #right table.blackborder {background: rgba(255, 255, 255, 0.3); color: #000;}
  #left table.blackborder tbody, #right table.blackborder tbody {background: rgba(252, 255, 255, 0.5);}
  #left table.blackborder th, #left tr.header, #left td.header,
  #right table.blackborder th, #right tr.header, #right td.header {background: rgba(0, 0, 0, 0.8); color: #FFFFFF;}
  #left tr.alt, #right tr.alt {background: rgba(255, 255, 255, 0.3);}

  /* Mails */
  .unread_message {background: transparent url(/images/email_open.png) no-repeat 100% 50%; padding-right: 22px; font-size: 110%;}
  p.user_details {line-height: 1.75em;}

  /* User detail */
  img.profile_img {float: left; width: 150px; padding: 2px; border: 1px solid #dedede; margin: 15px 20px 20px 0;}
  img.poster_img {float: left; width: 320px; padding: 2px; border: 1px solid #dedede; margin: 15px 15px 15px 15px;}

  /* News - center div */
  #center p.news {margin: 0.75em 0;}
  #center .news_date {color: #454545; display: block; float: left; width: 20%; font-weight: bold;}
  #center .news_title {display: block; float: left; width: 80%;}

  /* position */
      #fb {margin-right: 10px; float:right;}
  
  #container {margin: 0 auto; width: 960px; position: relative;}
    #header {width: 960px; height: 333px; position: relative; background: transparent url(/images/header.png) no-repeat 0 0;}
      #header_img {border: 0; position: absolute; top: 0; left: 0; z-index: 1;}
      #header_over {width: 960px; height: 333px; position:absolute; top: 0; left: 0; background-color: transparent; background-repeat: no-repeat;}
      #header_over1 {width: 960px; height: 333px; position:absolute; top: 0; left: 0; background-color: transparent; background-repeat: no-repeat;}
      #header_over2 {width: 960px; height: 333px; position:absolute; top: 0; left: 0; background-color: transparent; background-repeat: no-repeat;}
      #header_over3 {width: 960px; height: 333px; position:absolute; top: 0; left: 0; background-color: transparent; background-repeat: no-repeat;}
      #menu_map {z-index: 3;}
      #logo {position: absolute; top: 0px; left: -80px; font-weight: bold;}
      #liga {width: 399px; height: 119px; position: absolute; top: 133px; right: 0; background: transparent no-repeat 0 0;}
      #facebook {position: absolute; top: 205px; right: 0; z-index: 1;}
      #headerlinks {height: 20px; position: absolute; top: 0; right: 0; z-index:10;}
        #about {float: left;width: 100px;size:10}
        #register_link {float: left; display: block; height: 15px; line-height: 15px; padding: 3px 10px; background: #fff; color: #000; border: #878787}
        #loginform {margin-top: 2px; height: 23px;}
          #loginform a.user_link {color: #000; background: #79B12A; border: 1px solid #aaa; background-color: rgba(255, 255, 255, 0.75); padding: 1px 5px; display: block; float: left; margin-right: 4px; font-weight: bold;}
          #loginform a.mailbox {height: 20px; line-height: 20px; margin: 2px 10px; display: block; float: left;}
          #loginform span {display: block; float: left; margin-right: 10px; line-height: 22px;}
          #loginform #login, #loginform #password {width: 150px; height: 1.2em; line-height: 1.2em; padding: 1px; float: left; margin-right: 5px; border: 1px solid #aaa; background-color: rgba(255, 255, 255, 0.70);}
          #loginform #submit {background: transparent url(/images/menu_vrchne_registracia.png) no-repeat 0 0; width: 44px; height: 37px; border: none; float: left; cursor: pointer; margin-right: 5px;}
      #sportsmen {width: 960px; height: 333px; position: relative;}
      #menu {z-index: 2; position: absolute; top: 151px; width: 960px; height: 182px; background: transparent url(/images/menu_prazdne.png) no-repeat 0 100%;}
      #submenu {z-index: 2; position: absolute; top: 302px; left: 0; width: 960px; height: 31px; padding-left: 10px;}
    #content {width: 960px; background: transparent url(/images/mainbg_badminton.gif) repeat-y 0 0;}
      #contentbg_top {background: transparent url(/images/contentbg_top.png) no-repeat 0 0; height: 17px;}
      #left {float: left; width: 220px; margin-right: 25px; min-height: 300px; _height: 300px; padding: 0 0 20px 20px; font-size: 110%; overflow: hidden;}
        #left a {color: #333;}
        .billiardova #left a, .petanqueova #left a {color: #ffffcc;}
        #news {font-size:100%; padding-bottom: 15px;}
          .news_header {color: #333333; text-transform: uppercase; font-weight: bold;}
          .billiardova .news_header, .petanqueova .news_header {color: #ffffcc;}
        #reklama  {width: 220px; border: 0px solid #666666; background: #fff;}
          
      #center {float: left; width: 370px; min-height: 300px; _height: 300px; padding: 20px 30px;}
      #right {float: left; width: 205px; min-height: 300px; _height: 300px; padding: 20px 30px;}
    
  #footer {width: 100%; height: 240px; background: transparent url(/images/footer.png) no-repeat 50% 0;}




/*---------------*/
/* Sport figures */
/*---------------*/
    
    #header_over .sportsman_streetball {background-image: url(/images/postavicky_streetball.png); background-position: 320px 0;}  
    #header_over .sportsman_squash {background-image: url(/images/postavicky_squash.png); background-position: 195px 0;}
    #header_over .sportsman_badminton {background-image: url(/images/postavicky_badminton.png); background-position: 343px 0;}
    #header_over .sportsman_petanque {background-image: url(/images/postavicky_petanque.png); background-position: 812px 67px;}
    #header_over .sportsman_billiard {background-image: url(/images/postavicky_billiard.png); background-position: 692px 0;}
    #header_over .sportsman_volleyball {background-image: url(/images/postavicky_volleyball.png); background-position: 184px 36px;}
    #header_over .sportsman_soccer {background-image: url(/images/postavicky_soccer.png); background-position: 568px 67px;}
    #header_over .sportsman_running {background-image: url(/images/postavicky_running.png); background-position: 460px 38px;}
    #header_over .sportsman_golf {background-image: url(/images/postavicky_golf.png); background-position: 0 0;}

/*-----------*/
/* Main menu */
/*-----------*/


    #header_over .menu_streetball {background-image: url(/images/menu_streetball_hover.png); background-position: 224px 214px;}
    #header_over .menu_squash  {background-image: url(/images/menu_squash_hover.png); background-position: 187px 234px;}
    #header_over .menu_badminton  {background-image: url(/images/menu_badminton_hover.png); background-position: 321px 234px;}
    #header_over .menu_petanque {background-image: url(/images/menu_petanque_hover.png); background-position: 696px 240px;}
    #header_over .menu_volleyball {background-image: url(/images/menu_volleyball_hover.png); background-position: 1px 205px;}
    #header_over .menu_running {background-image: url(/images/menu_running_hover.png); background-position: 412px 227px;}
    #header_over .menu_soccer {background-image: url(/images/menu_soccer_hover.png); background-position: 560px 236px;}
    #header_over .menu_billiard {background-image: url(/images/menu_billiard_hover.png); background-position: 598px 234px;}
    #header_over .menu_golf {background-image: url(/images/menu_golf_hover.png); background-position: 729px 234px;}
    
/*---------*/
/* Submenu */
/*---------*/
  #submenu a.submenu_item {float: left; display: block; margin: 0 5px; color: #dedede; text-transform: uppercase; font-weight: normal; font-size: 110%; text-decoration: none;}
  a.submenu_item:hover, a.submenu_item_selected {background: transparent url(/images/menu_down_hover_left.png) no-repeat 0 0;}
  a.submenu_item span {display: block; height: 31px; line-height: 27px; padding: 0 13px; background: transparent none; }
  a.submenu_item:hover span, a.submenu_item_selected span {background: transparent url(/images/menu_down_hover_right.png) no-repeat 100% 0;}
  
  

/*------------------*/
/* aLiga decoration */
/*------------------*/
  .streetballova #liga {background-image: url(/images/nadpis_streetbalovAliga.png);}
  .squashova #liga {background-image: url(/images/nadpis_squashovAliga.png);}
  .badmintonova #liga {background-image: url(/images/nadpis_badmintonovAliga.png);}
  .petanqueova #liga {background-image: url(/images/nadpis_petanqueovAliga.png);}
  .billiardova #liga {background-image: url(/images/nadpis_billiardovAliga.png);}
  .golfova #liga {background-image: url(/images/nadpis_golfovAliga.png);}
  
/*--------------------*/
/* Content background */
/*--------------------*/
  .streetballova #content {background-image: url(/images/mainbg_streetball.gif);} 
  .volleyballova #content {background-image: url(/images/mainbg_squash.gif);}
  .squashova #content {background-image: url(/images/mainbg_squash.gif);}
  .badmintonova #content {background-image: url(/images/mainbg_badminton.gif);}
  .runningova #content {background-image: url(/images/mainbg_petanque.gif);}
  .petanqueova #content {background-image: url(/images/mainbg_petanque.gif);}
  .billiardova #content {background-image: url(/images/mainbg_billiard.gif);}
  .golfova #content {background-image: url(/images/mainbg_golf.gif);}
  
  
/*-------------------------*/
/* heading and link colors */
/*-------------------------*/

  .streetballova a, .streetballova h1 {color: #E97300;}
  .streetballova #right a {color: #824000;} 
  .volleyballova a, .volleyballova h1 {color: #d0a600;}
  .volleyballova #right a {color: #745d00;}
  .squashova a, .squashova h1 {color: #d0a600;}
  .squashova #right a {color: #745d00;}
  .badmintonova a, .badmintonova h1 {color: #99CC33;}
  .badmintonova #right a {color: #475f17;}
  .runningova a, .runningova h1 {color: #4D8EAD;}
  .runningova #right a {color: #37667c;}
  .petanqueova a, .petanqueova h1 {color: #4D8EAD;}
  .petanqueova #right a {color: #37667c;}
  .billiardova a, .billiardova h1 {color: #246610;}
  .billiardova #right a {color: #1b4d0c;}
}
