<h1>Hráči:</h1>
<%= "Nie si členom #{@selected_sport_name}ovej ligy, chceš sa pridať?" unless @is_playing%>
<%= link_to 'Pridať sa', join_sport_path unless @is_playing %>
<table>
  <tr>
    <th>Meno</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
  </tr>
<% end %>
</table>
