<h1> Všeobecné pravidlá Letná Liga 2011 </h1>

<p>1. Letná liga je športová súťaž pre neregistrovaných športovcov (neprofesionálnych hráčov)
</p><p>
2. Uskutoční sa od 18.6.2011 do 31.7.2011 na MIESTO
</p><p>
3. Športy na Letnej Lige 2011 sú:
</p><p>
a. Plážový volejbal a bude sa hrať dňa
</p><p>
b. MiniFutbal a bude sa hrať dňa
</p><p>
c. Streetball a bude sa hrať dňa
</p><p>
d. Beh a bude sa hrať dňa
</p><p>
e. Pétanque a bude sa hrať dňa
</p><p>
4. Cena za registráciu na súťaž Letná Liga 2011 je 25€
</p><p>
a. Hráč je po registrácii zaradený do ligy, kde môže hrať v piatich kolách
</p><p>
b. Za umiestnenie v každom kole dostane jednotlivec bodové ohodnotenie podľa
</p><p>

5. Cena za jedno kolo Letnej Ligy 2011 je 9€, ale daju sa uplatnit studentske zlavy
</p><p>


a. Každé kolo je vyhodnotené samostatne</p><p>

b. Registrácia sa uzatvára päť dní do začiatku turnaja</p><p>


6. Organizátori majú možnosť zmeniť a prispôsobiť pravidlá LL tak aby umožnili plynulý priebeh súťaže
<br>
Ak chce byť jednotlivec hodnotený, musí absolvovať minimálne 3 kolá (športy) LL
Hráčovi sa hodnotia 3 najlepšie umiestnenia v súťaži
Neúčasť treba nahlásiť päť dní do začiatku turnaja, v opačnom prípade sa udeluje
penalizácia vo forme 40 záporných bodov
V cene registrácie je zahrnutý pitný režim počas súťaže a tričko Letná Liga 2011
Hlavné ceny od usporiadateľov sú odovzdané iba v rámci súťaže Letná Liga 2011
</p><p>

</p><p>
<h2>Pravidlá</h2>

<b>Bodovanie Letnej Ligy</b>
</p><p>
Letná Liga sa hodnotí v dvoch oblastiach. Jeden druh hodnotení sa týka súťaže Letná Liga, druhý
konkrétnych turnajov. Každý turnaj môže vyhrať hociaký tím, ktorý sa do ňho zapojí . Zapojenie do
súťaže Letná Liga má podmienku záväzne sa zaregistrovať na minimálne tri turnaje z piatich.
</p><p><b>
Bodovanie jednotlivých turnajov</b>
</p><p>
Hodnotíme prvé 3 tímy v kategórií. Najprv sa hrá v skupinách a prvých 8 tímov postupuje do play-off.
Vyradovacím spôsobom sa hrá pavúk, až kým nepoznáme výťaza. Po ukončení turnaja sa odovzdávajú
ceny víťazom.
</p><p><b>
Bodovanie súťaže Letná Liga</b>
</p><p>
Tímy, ktoré sa zapoja do súťaže bojujú o najlepšie umiestnenie v každom športe a tak získavajú body.
Tímy môžu byť zložené až z ôsmich členov. Na jednotlivé turnaje sa tímy môžu rozdeliť na podtímy. V
každom športe okrem futbalu, môže tím súťažiť s viacerímy podtímami a tak si zvýšiť svoju šancu na
umiestnenie. Tímom budú brané do úvahy iba 3 najlepšie umiestnenia zo všetkých turnajov, ktorých
sa rozhodnú zúčastniť.
Po turnaji sa body rozdelujú medzi najlepších štyroch tímov, ktoré sú zapojené do súťaže Letná Liga.
Najlepšie umiestnený tím dostane 50 bodov, druhý najlepší 30, tretí 20 a štvrtý najlepší tím dostane
10 bodov. Aj keď sa žiaden z tímov zapojených do celkovej súťaže v nejakom turnaji neumiestni na
prvých štyroch miestach turnaja, ten, kto sa umiestni najvyššie dostane 50 bodov, druhý najlepší 30 a
tak ďalej. Body sa prideluju tímu (nie podtímu), takže aj keď dva podtímy jedného tímu získajú prvé aj
druhé poradie, dostanú iba 50 bodov. Nasledujúci tím dostáva 30 bodov atď. Chceme tím zabezpečiť
čo najväčšiu spravodlivosť a podporiť tímový duch hráčov v rámci tímu.
Počet bodov získaný v turnajoch sa spočítava, no započítava sa hodnotenie iba z 3 najlepších
výsledkov konkrétneho tímu, aj keby tím hral viac turnajov ako 3.
V prípade, že sa tím nezúčastní turnaja, na ktorý bol zaregistrovaný, dostáva penaltu v podobe 40
záporných bodov, ktoré mu budú odpočítané z celkového bodovania. Preto je dôležité aby sa pred
začiatkom súťaže tím dohodol, na ktoré turnaje sa zahlási.</p>
