<h1> Všeobecné pravidlá Letná Liga 2011 </h1>

<p>1. Letná liga je športová súťaž pre neregistrovaných športovcov (neprofesionálnych hráčov)
</p><p>
2. Uskutoční sa od 18.6.2011 do 31.7.2011
</p><p>
3. Športy na Letnej Lige 2011 sú:</p>
<table cellspacing="0" cellpadding="7" bordercolor="#00000a" border="1">
	<tbody><tr >
				<td><b>Šport</b></td>
				<td >	<b>Dátum</b></td>
  			<td><b>Miesto</b>	</td>
			</tr>
			<tr>
        <td >Beh</td>
				<td >18.6.2011</td>
				<td>LaFranconi(areál FTVŠ)</td>
			</tr>
			<tr>
				<td >Plážový futbal<br /> (beach soccer)</td>
				<td >2.7.2011</td>
				<td>Summer Club Incheba</td>
			</tr>
			<tr>
				<td>Streetball</td>
				<td>16.7.2011</td>
				<td>LaFranconi (areál FTVŠ)	</td>
			</tr>
			<tr>
				<td >Plážový	volejbal <br />(beach volley)</td>
				<td >23.7.2011</td>
				<td> Summer Club Incheba</td>
			</tr>
			<tr>
				<td>Petang</td>
				<td>30.7.2011</td>
				<td>LaFranconi (areál FTVŠ)</td>
			</tr>
		</tbody></table>
<p>
4. Cenník súťaže Letná liga 2011
<table cellspacing="0" cellpadding="7" bordercolor="#00000a" border="1">
	<tbody><tr >
				<td><b>Šport</b></td>
				<td >	<b>Cena na osobu</b></td>
  			<td><b>Čo je zarátané v štartovnom</b>	</td>
			</tr>
			<tr>
        <td >Beh</td>
				<td >5€</td>
				<td>Štartovné na jeden šport/kolo<br />
Pitný režim </td>
			</tr>
			<tr>
				<td >Plážový futbal<br /> (beach soccer)</td>
				<td >9€</td>
				<td>Štartovné na jeden šport/kolo<br />
Pitný režim </td>
			</tr>
			<tr>
				<td>Streetball</td>
				<td>9€</td>
				<td>Štartovné na jeden šport/kolo<br />
Pitný režim </td>
			</tr>
			<tr>
				<td >Plážový	volejbal <br />(beach volley)</td>
				<td >9€</td>
				<td>Štartovné na jeden šport/kolo<br />
Pitný režim </td>
			</tr>
			<tr>
				<td>Petang</td>
				<td>5€</td>
				<td>Štartovné na jeden šport/kolo<br />
Pitný režim </td>
			</tr>
			<tr>
				<td>Celý turnaj Letná liga 2011</td>
				<td>25€</td>
				<td>Štartovné na 5 športov<br />
Pitný režim </td>
			</tr>
		</tbody></table>

</p><p>

5. Organizátori majú možnosť zmeniť a prispôsobiť pravidlá LL tak aby umožnili plynulý priebeh súťaže
</p><p>

6. Bodovanie Letnej Ligy <br />
Letná Liga sa hodnotí v dvoch oblastiach. Jeden druh hodnotení sa týka súťaže Letná Liga, druhý konkrétnych turnajov (športových kôl). Každé kolo môže vyhrať hociaký tím, ktorý sa do ňho zapojí . Zapojenie do súťaže Letná Liga má podmienku záväzne sa zaregistrovať na minimálne tri športy z piatich.
</p><p>
7. Bodovanie jednotlivých turnajov (kôl)<br />
Hodnotíme prvé 4 tímy pri behu prvých 5 jednotlivcov v kategórií. Najprv sa hrá v skupinách a prvých 8 tímov postupuje do play-off. Vyradovacím spôsobom sa hrá pavúk, až kým nepoznáme výťaza. Po ukončení turnaja sa odovzdávajú ceny víťazom.
</p>
