<p><b>Informácie</b> hľadajte na <b><i>info@letnaliga.sk</i></b></p>
<p>Ak sa chceš opýtať na <b>registráciu</b> nestrácaj čas a píš na <b><i>registracia@letnaliga.sk</i></b></p>
<p>Otázky na <b>beach volley, soccer a pétanque</b> posielaj Maxovi na <b><i>maxo@letnaliga.sk</i></b></p>
<p><b>Streetball</b>isti môžu kontaktovať Peťa na <b><i>peter@letnaliga.sk</i></b></p>
<p>Ak si chceš za<b>beh</b>ať a máš otázky, tak behom pošli mail Martinovi na <b><i>martin@letnaliga.sk</i></b></p>
