<h1>Pravidlá Pétanque</h1>

<p><b>Informácie</b></p><p>
Informácie, harmonogram a výsledky budú zverejnené pri informačnom stole a na stránke
www.letnaliga.sk .
</p><p><b>Tímy</b></p><p>
Do súťaže sa môže prihlásiť maximálne 64 tímov (dvojíc).
</p><p><b>Bodovanie</b></p><p>
Za každý vyhratý zápas dostane tím 1 bod, za prehratý 0.
</p><p><b>Hrací systém</b></p><p>
Tímy budú rozdelené do štyroch až šesťnástich skupín podľa počtu prihlásených (pre ilustráciu
uvedieme hrací systém pre štyri skupiny Jar, Leto, Jeseň, Zima).
Každý tím odohrá podľa harmonogramu zápas. Výsledok sa zapíše a bude ho možné skontrolovať do
hodiny po odohraní zápasu na www.letnaliga.sk .
Zo skupiny postupujú prvé dva tímy do playoff.
Pri ôsmich skupinách sa hrá playoff od šesťnásťfinále. Víťaz zápasu postupuje do osemfinále.
Pri ôsmich skupinách sa hrá playoff od osemfinále. Víťaz zápasu postupuje do štvrťfinále.
Víťazný tím štvrťfinále postupuje do semifinále.
Víťazný tím semifinále postupuje do finále, porazený tím bude hrať o tretie miesto.
</p><p><b>Pravidlá hry</b></p><p>
Petanque hrajú buď dve družstvá po 3 hráčoch (tzv. triplettes), kde každý má 2 gule alebo dve
družstvá po 2 hráčoch (doublettes) - každý 3 gule alebo jeden hráč proti jednému (tete a tete), každý
má tri gule. (V prípade Letnej Ligy sa hrá na dvoch hráčov).
Petanque sa hrá s oceľovými guľami a drevenou guľôčkou nazývanou jack alebo prasiatko. Gule sa
vyhadzujú z kruhu s priemerom asi 50 cm, kruh musí byť vzdialený minimálne 1 meter od všetkých
prekážok alebo hraníc ihriska.
Pri odhode musia obe nohy spočívať na zemi a v kruhu až do doby, pokiaľ hodená guľa dopadne na
ihrisko. žiadna iná časť tela sa nesmie dotýkať zeme vo vnútri kruhu.
Družstvo musí začať hru do 5 minút od vyhlásenia zápasu, pričom výmena hráčov počas hry nie je
možná.
Cieľom hry je umiestniť viac vlastných gúľ bližšie k jacku ako súper. Na začiatku hry vyžrebujú hráči
družstvo, ktoré začne a začínajúci hráč vyhodí z kruhu jack. Vzdialenosť jacku od miesta odhodu
musí byť 6 až 10 metrov a nesmie dopadnúť bližšie ako meter od všetkých prekážok a hraníc
vymedzujúcich ihrisko. Jack musí byť z miesta odhodu viditeľný.
Prvú guľu hádže družstvo, ktoré hádzalo jack. V hre potom pokračuje jeden z členov súperovho
družstva a snaží sa zahrať svoju guľu lepšie (bližšie k jacku) ako protivník.
Jedným zo spôsobov ako dostať svoju guľu bližšie k prasiatku je približovanie. Druhým možným
spôsobom je vyrazenie, zasiahnutie súperovej gule a jej odstrelenie ďalej od jacku.
Pokiaľ sa hráč dostane svojou guľou bližšie k jacku, nastupuje opäť jeho súper. žiadna už hodená guľa
sa nesmie hádzať znovu, len ak bol jej pohyb zmenený guľou z iného ihriska, divákom atd.
V prípade nejasností, ktorá guľa je bližšie, dochádza k premeraniu vzdialeností gulí od jacku.
Pokiaľ sa hráč nedostane svojou guľou bližšie k jacku ako súper, musí jeho družstvo pokračovať v hre,
pokým sa mu to podarí. Takto sa obe družstvá striedajú v hre až do konca. Na konci každej hry sa
spočítajú body.
Za bod sa považuje každá guľa, ktorá je po skončení hry bližšie k jacku, ako prvá najbližšia guľa
súperova. Družstvo, ktoré ako prvé dosiahne celkom 13 bodov, víťazí v celom zápase.
Novú hru začína vhodením jacka družstvo, ktoré vyhralo predchádzajúcu hru. Nový kruh odhodu sa
vyznačuje na mieste polohy jacka z minulej hry.</p>
