<h1>Pravidlá Running</h1>


<p><b>Informácie</b>
Informácie, harmonogram a výsledky budú zverejnené pri informačnom stole a na stránke www.letnaliga.sk
</p><p>
<b>Pretek</b>
Pretek prebieha hromadným štartom (pretekári štartujú spolu), rozhoduje poradie na cieľovej čiare.  
</p><p>
<b>Trať</b>
Preteká sa  na 5 km trati. Na trati sa budú nachádzať rozhodcovia kontrolujúci dodržiavanie stanovenej trate. Akýkoľvek pokus o zmenu trasy sa trestá diskvalifikáciou.
</p><p>
<b>Kategórie</b>
Preteká sa v troch hlavných kategóriách – Muži, Ženy, Deti. Do hodnotenia letnej ligy sa započítavajú hlavné kategórie Mužov a Žien. 
</p><p>
<b>Podrobnosti, Profil trate</b>
Informácie o pribehu preteku budú zverejnené v propozíciách na stránke www.letnaliga.sk v dostatočnom predstihu pred konaním preteku. Budú taktiež zaslané prostredníctvom e-mailu prihláseným pretekárom.</p>
