<p><b>Informácie</b>
Informácie, harmonogram a výsledky budú zverejnené pri informačnom stole a na stránke
www.letnaliga.sk .
</p>
<p><b>Tímy</b>
Do súťaže sa môže prihlásiť maximálne 16 tímov (po 5 - 8 hráčov).
</p>
<p><b>Bodovanie</b>
Za každý vyhratý zápas dostane tím 3 body, za prehratý 0 a za remízu 1 bod.
</p>
<p><b>Hrací systém</b>
Tímy budú rozdelené do štyroch skupín (pre ilustráciu uvedieme hrací systém pre štyri skupiny Jar,
Leto, Jeseň, Zima).
Každý tím odohrá podľa harmonogramu zápas. Výsledok sa zapíše a bude ho možné skontrolovať do
hodiny po odohraní zápasu na www.letnaliga.sk .
Zo skupiny postupujú prvé dva tímy do playoff.
Víťazný tím štvrťfinále postupuje do semifinále.
Víťazný tím semifinále postupuje do finále, porazený tím bude hrať o tretie miesto.
</p>
<p><b>Pravidlá hry</b>
Zápas hrajú dve mužstvá zložené z maximálne piatich hráčov pričom jeden z nich je brankár (4+1
maximálny počet striedajúcich hráčov sú 3).
Počet striedaní v hre je neobmedzený a počas striedania sa čas nezastavuje.
Zápas trvá 2 x 10 minút.
Medzi jednotlivými časťami hry je 5 minútová pauza.
Hra sa začína výkopom a to na začiatku hry, po strelení gólu, na začiatku druhej a tretej tretiny.
Pokiaľ sa hráč vykonávajúci výkop dotkne lopty dvakrát, bez toho aby sa jej medzitým dotkol iný hráč,
súperovmu družstvu sa prizná priamy výkop, ktorý sa uskutoční z miesta, kde vznikol priestupok.
Lopta je mimo hry ak úplne prekročí zadnú čiaru a to po zemi alebo vo vzduchu.
Brankár nemôže skórovať priamo vhodenou loptou. Ak sa tak stane, je uznané vhadzovanie
brankárom súperovi.
Hráč nesmie skórovať priamo z výkopu pokiaľ sa lopta nedotkne piesku na zemi.
Hráč môže skórovať, pokiaľ umiestni loptu na zem a potom do nej kopne.
Družstvo, ktoré strelí počas riadneho hracieho času viac gólov víťazí.
Ak v play-off strelia obe družstvá v riadnom hracom čase rovnaký počet gólov alebo nepadne žiadny
gól, nasleduje po uplynutí normálnej hracej doby predĺženie.
Ak predĺženie skončí remízou, strieľajú sa penaltové kopy z určeného miesta.
Priamy voľný kop je mužstvu súpera uznaný ak hráč spácha niektorý z nasledujúcich priestupkov:

• pokus o nakopnutie alebo nakopnutie súpera

• pokus o ohrozenie alebo ohrozenie súpera skĺznutím alebo skrčením pred ním alebo za ním

• skok na súpera

• útok na súpera aj ramenom

• pokus o strčenie alebo strčenie súpera

• tlačenie súpera

• držanie súpera, pľuvanie na súpera

</p>
