<h1>Pravidlá Streetball</h1>

<b><p>HRA:</b> 
Hrajú dve družstvá na jeden kôš.</p>
<b><p>ZAČIATOK HRY: </b>
Zápas začína losovaním (hod mincou) o loptu.</p>
<b><p>HRACÍ ČAS: </b>
Zápas sa končí dosiahnutím 12 bodov resp. uplynutím hracieho času (zapisuje sa dosiahnutý stav pri ukončení zápasu). Koniec stretnutia odpíska rozhodca. Hracia doba zápasu je 12 min. hrubý čas. V prípade nerozhodného stavu po uplynutí hracej doby, hrá sa o víťazný kôš, o držaní lopty sa rozhoduje losom.</p>
<b><p> STRIEDANIE: </b>
Družstvo môže striedať len počas prerušenia hry.</p>
<b><p>BODOVANIE:</b>
Každý kôš z poľa má hodnotu 1 bodu. Kôš dosiahnutý zo vzdialenosti väčšej než 6,75m (trojkový oblúk) má hodnotu 2 bodov. V kategóriách OPEN MIX má kôš z poľa dosiahnutý dievčaťom hodnotu 2 bodov a kôš spoza trojkového oblúka hodnotu 3 bodov.</p>
<b><p>ÚTOK – OBRANA: </b>
Pred začiatkom zápasu sa o držaní lopty rozhodne losom. Útočiace družstvo má na útok 20 sekúnd. Ak brániace družstvo získa loptu (vypichnutím, obranným doskokom po neúspešnej streľbe súpera), nesmie strieľať, ale musí loptu dostať za trojkový oblúk a odtiaľ rozohrať. Útočiace družstvo môže po neúspešnej streľbe doskočiť loptu a prípadne skórovať bez rozohrania za trojkový oblúk. Po koši a taktiež po akomkoľvek priestupku sa hra začína tzv. „checkom“. Útočiaci hráč vyjde za trojkovú čiaru, obranca ostáva naopak v území ohraničenom trojkovou čiarou. Útočník umožní obrancovi dotyk lopty a začína sa hrať.</p>
<b><p>FAULY: </b>
Všetky fauly hlási faulovaný hráč . Očakáva sa spravodlivý prístup, pri ktorom budú obe družstvá uznávať svoje fauly. Ak bol hráč faulovaný pri streľbe a nepadol kôš, loptu získava útočiace družstvo, rozohráva sa checkom. Ak bol hráč faulovaný pri streľbe a padol kôš - ten platí a navyše útočiace družstvo má opäť loptu. Keď je družstvo potrestané 4. faulom, nasleduje zmena a po každom ďalšom faule na hráča s loptou 1 má útočiace družstvo voľný trestný hod (šestka). Ak je hráč faulovaný pri 3-bodovom pokuse, hádže 2 voľné hody. Keď je útočiaci hráč pri streľbe faulovaný a aj napriek tomu skóruje, kôš sa počíta a družstvo nemá voľný hod, ale dostáva opäť loptu. Po nepremenenom voľnom hode sa lopta doskakuje a pokračuje sa v hre. Po nešportovom faule je družstvo potrestané trestným hodom a opätovným držaním lopty. 2 nešportové fauly v 1 zápase znamenajú diskvalifikáciu hráča. Po 2 diskvalifikáciách v turnaji je družstvo vylúčené z turnaja.</p>
<b><p>ODDYCHOVÝ ČAS:</b>
Každé družstvo si môže počas zápasu vybrať jeden 30-sekundový oddychový čas, okrem posledných dvoch minút zápasu, kedy to nie je možné. Oddychový čas si môže družstvo vybrať, keď je prerušená hra, s výnimkou prípadu, že práve skórovalo. Čas zápasu sa počas oddychového času nezastavuje!</p>
<b><p>
DRUŽSTVO: </b>
Družstvo sa skladá z troch hráčov a dvoch náhradníkov. Pred zápasom sa obe družstvá súčasne rozohrajú. Na ihrisko môžu vstúpiť iba družstvá uvedené v hernom pláne. V Kategórii OLD-YOUNG sa družstvo skladá z dvoch hráčov a dvoch náhradníkov.</p>
<b><p>
KAPITÁN: </b>
V prípade sporných situácií zastupuje družstvo len jeho kapitán. Ak sa pokračuje v hre, spor sa pokladá za vyriešený. Povinnosťou kapitána víťazného družstva je hneď po ukončení zápasu odniesť zápis o stretnutí označenému pracovníkovi SSA.</p>
<b><p>
ROZHODOVANIE:</b> 
Pozorovateľ nie je klasický rozhodca, nerozhoduje zápas, len zasahuje v prípade výskytu nezhôd. Po konflikte vstupuje rozhodca do hry a plní úlohu klasického rozhodcu. Neuposlúchnutie pozorovateľa vedie k strate lopty, opakované neuposlúchnutie sa trestá kontumáciou zápasu v neprospech previneného družstva. Pozorovateľ rozhoduje o platnosti dosiahnutého koša a hlási aktuálne skóre, hlási zostávajúcich 5 sekúnd n zakončenie útočiaceho družstva.. Na požiadanie aspoň jedného teamu už pred alebo počas zápasu je pozorovateľ od začiatku v role klasického rozhodcu.</p>
<b><p> 
TRESTY:</b> 
Pri úmyselnom neodôvodnenom zdržovaní bude proti družstvu nariadený oddychový čas. Ak ho už družstvo nemá, alebo zdržuje opakovane, je potrestané stratou lopty. V posledných dvoch minútach zápasu je družstvo pri zdržovaní hneď potrestané stratou lopty, keďže time-out nemôže byť udelený.  Pri vulgárnom správaní voči organizátorom, hráčom či divákom je hráč upozornený, v prípade ďalšieho napomenutia je hráč diskvalifikovaný do konca zápasu. Ak sa hráč dopustí výrazne nešportového správania ( zvlášť hrubý priestupok proti pravidlám, fyzické či veľmi hrubé slovné napadnutie organizátorov, hráčov či divákov) jeho družstvo stráca loptu a previnilec je diskvalifikovaný do konca zápasu. Pozorovateľ sa musí aktívne podieľať na priebehu každého zápasu. Jeho právomocou je vstúpiť do hry v rámci fair-play pri zdržovaní, hrubom a nešportovom správaní. O ďalšom postupe (kontumácia zápasu, vylúčenie z turnaja) rozhodne pozorovateľ a organizátori.</p>
<b><p>PROTESTY:</b> 
Prípadné protesty riešia s konečnou platnosťou organizátori. Pri podaní protestu sa zloží záloha 15,- EUR, ktorá bude v prípade uznania protestu vrátená.</p>
<b><p>UPOZORNENIE:</b>
Hráči ani pozorovateľ nemajú právo meniť pravidlá. Zvyšné pravidlá sú podľa platných pravidiel FIBA.</p>

