<p><b>Informácie</b>
Informácie, harmonogram a výsledky budú zverejnené pri informačnom stole a na stránke www.letnaliga.sk .</p>
<p><b>Tímy:</b> 
Do súťaže sa môže prihlásiť maximálne 32 tímov (dvojíc).</p>
<p><b>ZAČIATOK HRY: </b>
Zápas začína losovaním (hod mincou) o loptu.</p>
<p><b>Hrací systém: </b>
Tímy budú rozdelené do štyroch až ôsmich skupín (pre ilustráciu uvedieme hrací systém pre štyri
skupiny Jar, Leto, Jeseň, Zima).
Každý tím odohrá podľa harmonogramu zápas. Výsledok sa zapíše a bude ho možné skontrolovať do
hodiny po odohraní zápasu na www.letnaliga.sk .
Zo skupiny postupujú prvé dva tímy do playoff.
Pri ôsmich skupinách sa hrá playoff od osemfinále. Víťaz zápasu postupuje do štvrťfinále.
Víťazný tím štvrťfinále postupuje do semifinále.
Víťazný tím semifinále postupuje do finále, porazený tím bude hrať o tretie miesto.</p>
<p><b> STRIEDANIE: </b>
Družstvo môže striedať len počas prerušenia hry.</p>
<p><b>BODOVANIE:</b>
Za každý vyhratý zápas dostane tím 1 bod.</p>
<p><b>Pravidla: </b>
Plážový volejbal je šport, ktorý hrajú dve družstvá zložené z 2 hráčov na pieskovom ihrisku
rozdelenom sieťou. Účelom hry pre obe družstvá je odohrať loptu regulárne ponad sieť do súperovho
poľa a zabrániť lopte dotknúť sa vlastného poľa. Družstvo sa môže dotknúť lopty najviac trikrát
(vrátane bloku), predtým ako loptu usmerní do súperovho poľa. Ten istý hráč nesmie udrieť do lopty
dvakrát po sebe.
Hra sa začína podaním jedného z hráčov. Podávajúci hráč podáva úderom do lopty jednou rukou
alebo pažou cez sieť do ihriska súperovho poľa. Rozohrávka pokračuje, pokiaľ sa lopta nedotkne
zeme, ide mimo ihriska out, alebo družstvo urobí pri vrátení lopty do súperovho poľa chybu.
Prvé podanie v sete je vykonané družstvom, ktoré pri žrebovaní získalo právo podávať.
Ak sa dvaja hráči dotknú lopty súčasne, počítajú sa dva údery.
Dotknúť sa lopty je možné ktoroukoľvek časťou tela.
Lopta musí byť odbitá, nie chytená alebo hodená. Môže sa odraziť ktorýmkoľvek smerom.
Dotknúť sa ktorejkoľvek časti siete alebo anténky je zakázané.
V plážovom volejbale družstvo, ktoré vyhrá rozohrávku získava bod. Keď prijímajúce družstvo
vyhrá rozohrávku, získa bod a právo podávať. Podávajúci hráč musí byť iný ako po získaní
predchádzajúceho súperovho podania.
Ak je družstvo v sete alebo stretnutí vyhlásené za nekompletné, prehráva set alebo stretnutie.
Súperovi sa pridelia body a sety, ktoré mu chýbajú do výhry setu alebo stretnutia. Nekompletné
družstvo si zachováva získané body a sety.
Stretnutie vyhráva družstvo, ktoré vyhrá dva sety. Set (okrem rozhodujúceho tretieho) vyhráva
družstvo, ktoré prvé získa 21. bod. s minimálne dvojbodovým rozdielom. Za stavu 20 : 20 hra
pokračuje, až kým sa nedosiahne 2 bodový rozdiel 22 : 20, 23 : 21. a pod.
V prípade 1-1 na sety sa tretí - rozhodujúci set hrá do 15 bodov s minimálnym rozdielom 2 bodov.
Družstvá si menia strany po dosiahnutí každých 7 bodov (1. a 2. set) a 5 bodov (3. set).</p>
<p><b>PROTESTY:</b> 
Prípadné protesty riešia s konečnou platnosťou organizátori. Pri podaní protestu sa zloží záloha 15,- EUR, ktorá bude v prípade uznania protestu vrátená.</p>
<p><b>UPOZORNENIE:</b>
Hráči ani pozorovateľ nemajú právo meniť pravidlá. Zvyšné pravidlá sú podľa platných pravidiel FIBA.</p>

