<h1> Kontakty na nás - radi Vám pomôžeme </h1>

<p><b>Informácie</b> hľadajte na <b><i>info@letnaliga.sk</i></b></p>
<p>Ak sa chceš opýtať na <b>registráciu</b> nestrácaj čas a píš na <b><i>registracia@letnaliga.sk</i></b></p>
<p>Otázky na <b>beach volley, soccer a pétanque</b> posielaj Maxovi na <b><i>maxo@letnaliga.sk</i></b></p>
<p><b>Streetball</b>isti môžu kontaktovať Peťa na <b><i>peter@letnaliga.sk</i></b></p>
<p>Ak si chceš za<b>beh</b>ať a máš otázky, tak behom pošli mail Martinovi na <b><i>martin@letnaliga.sk</i></b></p>
<br /><br />

<p> <b>Štartovné</b> je potrebné uhradiť na účet <b>2920857372 / 1100</b> s VS (svoj variabilný symbol nájdeš v profile) a do poznámky napíš svoj email, ktorým si sa registroval.<br />
Ak chcete <b>zaplatiť hromadne</b> (napr. celý tím, kontaktujte nás na adrese registracie@letnaliga.sk) a do mailu napíšte zoznam ľudí (ich mailové adresy), pre ktorých je hromadná platba určená.<br />
Ak chcete <b>zaplatiť v hotovosti</b>, tak píšte na <b><i>tina@letnaliga.sk</i></b>, alebo volajte na: <b>0907 100 319</b>
</p>
