Vitajte na portali <b>aLiga.SK</b><br />

Ak mate zaujem sa registrovat, tak kliknite na <%= link_to "registráciu", new_user_path%>
<br /><br />
<b>Uz registrovani sa mozu prihlasit tu:</b><br />
<form method="post" action="/session">
  <table cellspacing="0">
    <tbody>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" name="login" id="login">
        </td>
      </tr>
      <tr>
        <td>Heslo:</td>
        <td>
          <input type="password" name="password" id="password">
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
        <input type="submit" value="Vstúpiť" name="commit">
        </td>
      </tr>
    </tbody>
  </table>
</form>
