
<% @newzs.each do |newz| %>
  
  <p class="news">
    <span class="news_date"><%=h newz.sport.created_at.strftime("%d.%m.%Y") %></span>
    <b><%= link_to " #{newz.header}", newz, :class=>"news_title" %> </b></ br>
      &nbsp;&nbsp;&nbsp;...<%= newz.text[0..30] %>
    <br class="clear" />
  </p> <br />


<% end %>

<br />
<% if @current_user && @current_user.user_role == "admin" %>
  <%= link_to 'New newz', new_newz_path %>
<% end %>
