<h1>Listing newzs</h1>



<% @newzs.each do |newz| %>
  
  <p class="news">
    <span class="news_date"><%=h newz.sport.created_at.strftime("%d.%m.%Y") %></span>
    <%= link_to "<b> #{newz.header} </b> #{newz.text[0..30]}....", newz, :class=>"news_title" %>
    <br class="clear" />
  </p>


<% end %>

<br />
<% if @current_user && @current_user.user_role == "admin" %>
  <%= link_to 'New newz', new_newz_path %>
<% end %>
