<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="sk">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Lorem" />
    <meta name="Description" content="My Site" />
    <meta name="Keywords" content="key, words" />	
	  <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title><%=  @title || "Aliga" %></title>
    <%= stylesheet_link_tag 'style' %>
    <script src='/javascripts/prototype.js' type='text/javascript'></script>
    <script src='/javascripts/effects.js' type='text/javascript'></script>
    <script src='/javascripts/controls.js' type='text/javascript'></script>
    <script src='/javascripts/dragdrop.js' type='text/javascript'></script>
    <script type="text/javascript">
    //<![CDATA[
    var flashDiv = $("flash");
    if (flashDiv) {
      flashDiv.childElements().each(function(element) {
        new Effect.Highlight(element);
        new Effect.SlideUp("flash", { "delay": 3, "duration": 2 });
      });
    }
    function focusedAction(el, val)
    {
    if(el.value == val)
      el.value = ''; 
    new Effect.Highlight(el,{});
    }

    function checkEmptyAndFill(el, val)
    {
      if(el.value.blank())
        el.value = val;
    }
    //]]>
    </script>
  </head>
  <body>
<div id="content">
  <div id="header">
    <%= render :partial => "layouts/user_login" %>

    <div id="headermenu">
      <ul>
        <li><a href="#" title="This Page">domov</a></li>
        <li><a href="#" title="This Page">o nas</a></li>
        <li><a href="#" title="This Page">kontakt</a></li>
        <li><a href="#" title="This Page">f.a.q.</a></li>
      </ul>
    </div>
  </div>
  <div id="pic">
    <div id="firstrow">
      <div id="sportsmenu">
        <ul>
          <li><div id="badm"><a href="#" title="Lorem Ipsum"></a></div></li>
          <li><div id="bask"><a href="#" title="Lorem Ipsum"></a></div></li>
          <li><div id="futb"><a href="#" title="Lorem Ipsum"></a></div></li>
          <li><div id="vole"><a href="#" title="Lorem Ipsum"></a></div></li>
          <li><div id="bowl"><a href="#" title="Lorem Ipsum"></a></div></li>
        </ul>
      </div>
      <div id="logo">
        <h1>logo aliga.sk</h1>
      </div>
    </div>
      <div id="navcontainer">
       
 <%= render :partial => "layouts/menu" %>
        </ul>
      </div>
    </div>
</div>
      <!--
  <div id="menusection,,,">
              <a id="soccer" class="menu_item" href="index.html" title="Beach soccer">
                <img src="/images/soccer.gifx" alt="Beach soccer" />
              </a>
              <a id="volley" class="menu_item" href="index.html" title="Beach volleyball">
                <img src="/images/volleyball.gifx" alt="Beach volleyball" />
              </a>
              <a id="petanque" class="menu_item" href="index.html" title="Pétanque">
                <img src="/images/petang.gifx" alt="Pétanque" />
              </a>
              <a id="sluzby" class="menu_item" href="/services" title="Služby">
                <img src="/images/sluzby.gifx" alt="Služby" />
              </a>
        </div>
        -->
