<div id="main-content">
  <div class="maindata">
    <h2>Skurveny DIZAJN </h2>
      <%= yield %>
  </div>
  <div class="leftinfo">
    We Offer: <br />
      <a href="#">Lorem ipsum dolor sit amet</a>,
      <a href="#">consectetuer adipiscing elit</a>, 
      <a href="#">sed diam nonummy nibh</a>, 
      <a href="#">euismod tincidunt ut laoreet dolore</a>, 
      <a href="#">magna aliquam erat volutpat</a>,
      <a href="#">Ut wisi enim ad minim veniam</a>,
      <a href="#"> quis nostrud exerci tatio</a>
    </p>
  </div>
  <div class="maindata">
    <h2>KOKOT POJEBANY!!! </h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
    </p>
  </div>
</div>
