<div id="center">
<% if flash[:notice] || flash[:error] %>
  <div id="flash">
   <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:error] %></p>
  </div>
<% end %>
   <%= yield %>
</div>
