<!--... right sidebar goes here ...-->
<div id="right">
  <h2>Najbližší program</h2>
	<% if(@current_user) %>
  <% e = Event.find(:all, :conditions => ["user_id = ? AND start_at >= ?", @current_user.id,Time.now], :limit => 7) %>
		<table>
			<% e.each do |event| %>
        <tr>
	      	<td>
              <%= event.start_at.strftime("%d.%m. %H:%M") %>&nbsp;&nbsp;<%= link_to event.name, calendar_path(event) %>
	        </td>
				</tr>		 
      <% end %>
		</table>
  <%= link_to "..vypísať všetky", calendar__path %>
  <% end %>
</div>
