<!--... right sidebar goes here ...-->
   <div class="sidebardata">
		<h2>Najbližší program</h2>
		<% @items = [1,2,3,4,5,6,7] %>
		<table>
			<% @items.each do |item| %>
				<tr>
					<td>
						<% t = Date.today+item.days  %>
						<%= link_to t.strftime("%d-%m-%Y"), 'calendar_path' %>
					</td>
				</tr>		
			<% end %>
		</table>
		</div>
    
    <div class="sidebardata">
    <p><img src="images/smallthumb.jpg" alt="Image" width="80" height="80" class="image" title="Image" /><b>Lorem ipsum dolor sit </b><br />
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..</p>
    </div>
    
    <div class="sidebardata">
    <p><img src="images/smallthumb.jpg" alt="Image" width="80" height="80" class="image" title="Image" /><b>Lorem ipsum dolor sit </b><br />
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>

