<div id="loginarea">
  <form id="loginform" method="post" action="/session" >
    <fieldset >
      <legend>Login</legend>
      <input id="login" type="text" name="login" value="login" onBlur = "checkEmptyAndFill(this,'login');"onClick = "focusedAction(this, 'login');" />
      <input id="passwd" type="text" name="passwd" value="heslo" onBlur = "checkEmptyAndFill(this,'heslo');" onClick = "focusedAction(this, 'heslo');" />
      <input id="loginsubmit" class="button" type="submit" value="prihlásiť" />
    </fieldset>
  </form>
</div>
