<div id="loginarea">
  <form id="loginform" method="post" action="/session" >
 <% if @current_user %>
  <%= "Vitaj #{@current_user.name}, "%><%= link_to "[Odhl치si콘]", session_path, :method => :delete%>
<% else %>
    <fieldset>
      <legend>Login</legend>
      <input id="login" type="text" name="login" value="login" onBlur = "checkEmptyAndFill(this,'login');"onClick = "focusedAction(this, 'login');" />
      <input id="passwd" type="password" name="passwd" value="heslo" onBlur = "checkEmptyAndFill(this,'heslo');" onClick = "focusedAction(this, 'heslo');" />
      <input id="submit" class="button" type="submit" value="prihl치si콘" />
    </fieldset>
<% end %>
  </form>
</div>
